#main-product img{
    height: 250px;
    width: 250px;
    position: relative;
    margin: 10px;
    box-shadow: 10px 10px 5px rgb(184, 173, 230);
}

#main-product {
    /* border: 1px solid black; */
    width: 350px; 
    height: 450px;
    margin: 5px;
    bottom: 40px;
    position: relative;
    
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

 

}

.bttn{
    height: 35px;
    width: 175px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px gray;
    margin-top: 15px;
}
.bttn:hover{
    background-color: black;
    color: white;
   
  

}


